.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.garden {
  margin-top: 100px;
}

.farm-plot {
  padding: 20px;
  background-color: #66bb6a;
}

.single-plot {
  height: 300px;
  background-color: #c8e6c9;
  margin: 5px;
}

.inventory .container {
  padding: 30px;
  background-color: rgb(241, 241, 241);
}
.inventory-slot {
  margin: 5px;
  background-color: #66bb6a; 
}

.flower {
  width: 100px;
  height: 100px;
}
