html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: rgb(198, 255, 198);
}

.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.garden {
  margin-top: 100px;
}

.farm-plot {
  padding: 20px;
  background-color: #66bb6a;
}

.single-plot {
  height: 300px;
  background-color: #c8e6c9;
  margin: 5px;
  display: flex;
  vertical-align: bottom;
}

.inventory .container {
  padding: 30px;
  background-color: rgb(241, 241, 241);
}
.inventory-slot {
  margin: 5px;
  background-color: #66bb6a; 
}

.flower {
  margin-left: 50px;
  margin-top: 90px;
  width: 100px;
  height: 100px;
  vertical-align: bottom;
  
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}
